@use 'variables';

@mixin landscape {
    @media (min-width: 768px){
      @content;
    }
  }
  
@mixin medium-screen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin wide-screen {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin default-grid{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
}

@mixin default-img{
  object-fit: cover;
	object-position: center;
}

@mixin default-background{
  background-size: cover;
	background-position: center;
}

@mixin cover-parent{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin image-slot{
  height: 0;
  position: relative;
}

@mixin heading-format{
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: -0.01rem;
}

@mixin section-heading-format{
  color: white;
  width: 94%;
  justify-self: center;
  position: relative;
  padding: 1.5rem;
  font-size: 1.85rem;
  transform: scale(1, 1.1);
  margin-bottom: 1rem;

  &:before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: var(--emory-blue);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &:after{
    content: "";
    position: absolute;
    right: -1rem;
    top: -1rem;
    background: rgba(242, 169, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: -2;
  }
}

@mixin default-bold-text{
  display: block;
	font-weight: bold;
}

@mixin card-display{
  padding: 2rem 3%;
  grid-column-gap: 3%;
  grid-row-gap: 7rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 0.7fr));
}

@mixin link-format{
  color: var(--gray);
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;

  &:hover{
    text-decoration: underline;
  }
}

@mixin outro-text{
  width: 95%;
  text-align: center;
  color: white;
  transform: scale(1,1.1);
  justify-self: center;
}

@mixin outro-link{
  margin-top: 0.75rem;

  &:hover{
    text-decoration: underline;
  }
}

@mixin stretch-font{
  transform: scale(1,1.1);
	letter-spacing: -0.01rem;
}

@mixin generic-display-section{
  margin-bottom: 5rem;
	overflow: hidden;
	padding: 1.4rem 0 2.85rem;
}

@mixin generic-landscape-heading{
  font-size: 2.75rem;
  text-align: right;
  padding-right: 5rem;
}

@mixin generic-card-display{
  padding: 2rem 3%;
  grid-column-gap: 3%;
  grid-row-gap: 7rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 0.7fr));
}

@mixin generic-dotted-line{
  content: "";
  position: absolute;
  bottom: -1.25rem;
  border-bottom: dashed 3px var(--emory-blue);
  width: 100%;
  cursor: default;
}

@mixin generic-blue-bar{
  content: "";
  position: absolute;
  bottom: -4.25rem;
  width: 100%;
  height: 2.15rem;
  background: var(--emory-blue);
  cursor: default;
}

@mixin generic-text{
  background: rgba(255, 255, 255, 0.9);
  width: 80%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 45%;
  color: var(--gray);
  padding: 1rem;
  transition: height 400ms ease-in-out;
}

@mixin generic-subheading{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  position: relative;
}

@mixin generic-caption{
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.25rem;
  padding-right: 3rem;
  line-height: 1.1;
}

@mixin open-line{
  background: rgba(242, 169, 0, 0.7);;
  position: absolute;
  top: 0.75rem;
  right: 0;
}