/* 
==============================================
CONTENT:	English Department
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Initialization
1. General Styles
2. Partials
3. Utility

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 2. Partials ================================ */
@use 'header';
@use 'hero';
@use 'statistics';



/* 1. General Styles ============================= */

*, *::before, *::after {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Noto Sans', sans-serif;
}

.display-grid{
	@include mixins.default-grid;
	position: relative;
}


.overview{
	@include mixins.default-grid;
	padding: 0 2rem;
	margin-bottom: 5rem;
	max-width: 80rem;
	justify-self: center;

	&__heading{
		@include mixins.heading-format;
		color: rgb(1, 33, 105);
		font-size: 2.25rem;
		margin-bottom: 1.5rem;
	}

	&__bold-text{
		@include mixins.default-bold-text;
	}

	&__text{
		color: rgba(0,0,0, 0.8);
		line-height: 1.5;
		font-size: 1.15rem;
		text-align: center;
		margin-bottom: 1.25rem;

		@include mixins.medium-screen{
			font-size: 1.35rem;
		}
	}

	&__link{
		color: var(--emory-blue);
		font-weight: bold;
	}
}

.programs{
	@include mixins.default-grid;
	@include mixins.generic-display-section;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		@include mixins.heading-format;
		@include mixins.section-heading-format;

		@include mixins.landscape{
			@include mixins.generic-landscape-heading;
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
		
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		@include mixins.generic-card-display;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.image-slot;
		padding-bottom: 100%;

		&:hover .programs__text{
			height: 50%;
		}

		&:before{
			@include mixins.generic-dotted-line;
		}

		&:after{
			@include mixins.generic-blue-bar;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		
		&_cw{
			object-position: left;
		}
	}

	&__text{
		@include mixins.generic-text;
	}

	&__subheading{
		@include mixins.generic-subheading;
	}

	&__caption{
		@include mixins.generic-caption;
	}
}

.news{
	@include mixins.default-grid;
	margin-bottom: 5rem;
	overflow: hidden;
	padding: 1.4rem 0 2.85rem;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		@include mixins.section-heading-format;
		@include mixins.heading-format;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		@include mixins.landscape{
			font-size: 2.75rem;
			text-align: left;
			padding-left: 5rem;
		}
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		padding: 2rem 3%;
		gap: 2rem;
		justify-content: center;
    	grid-template-columns: repeat(auto-fit, minmax(17rem, 0.7fr));

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		border: 1px solid var(--emory-blue);
		@include mixins.default-grid;
		padding: 4rem 1.5rem 1.5rem;
		min-height: 20rem;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2.75rem;
			background: var(--emory-blue);
		}
	}

	&__image-slot{
		@include mixins.image-slot;
		padding-bottom: 60%;
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		border-radius: 0.7rem;
	}

	&__date{
		color: var(--gray);
		font-size: 1.15rem;
		font-family: var(--heading-font);
		margin: 1rem 0 0.7rem;
	}

	&__link{
		@include mixins.link-format;
	}

	&__button{
		justify-self: center;
		background: var(--emory-blue);
		color: white;
		text-transform: uppercase;
		padding: 1rem 0rem;
		width: 19.1rem;
		text-align: center;
		border-radius: 0.8rem;
		font-weight: bold;
		transition: all 200ms ease-in-out;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		&:hover{
			color: var(--yellow);
			filter: brightness(1.1);
		}
	}
}

.events{
	@include mixins.default-grid;
	position: relative;
	
	margin: 0 3% 5rem;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,75rem) 1fr;
	}

	&__heading{
		@include mixins.heading-format;
		width: 10.5rem;
		justify-self: center;
		position: absolute;
		font-size: 1.85rem;
		transform: scale(1, 1.1);
		margin-bottom: 1rem;
		color: var(--emory-blue);
		top: -1rem;
		background: white;

		@include mixins.landscape{
			font-size: 2.75rem;
			width: 25rem;
			top: -1.5rem;
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		padding: 5rem 3%;
		grid-column-gap: 3%;
		grid-row-gap: 2.3rem;
		justify-content: center;
    	grid-template-columns: repeat(auto-fit, minmax(15rem, 0.9fr));
		border: 3px solid var(--emory-blue);

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.default-grid;
		padding: 2.75rem 0rem 0rem;
		position: relative;
		grid-template-columns: 1fr minmax(5rem, 0.2fr);
		grid-auto-rows: max-content;
		

		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1.25rem;
			background: var(--light-yellow);
		}
	}

	&__day{
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0.75rem;
		
	}

	&__month{
		color: var(--emory-blue);
		font-size: 1.75rem;
		font-weight: bold;
		grid-column: 1/2;
		font-family: var(--heading-font);
		padding-bottom: 0.1rem;

	}

	&__date{
		grid-column: 2/3;
		grid-row: 1/3;
		place-self: center flex-end;
		color: var(--gray);
		font-family: var(--heading-font);
		font-size: 3rem;
	}

	&__link{
		margin-top: 1.5rem;
		grid-column: 1/-1;
		@include mixins.link-format;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			border-top: dashed 3px var(--light-yellow);
			width: 100%;
			top: -1rem;
		}
	}

	&__button{
		background: var(--emory-blue);
		color: white;
		text-transform: uppercase;
		padding: 1rem 0rem;
		border-radius: 0.8rem;
		font-weight: bold;
		transition: all 200ms ease-in-out;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -1.5rem;
		width: 19.1rem;
		text-align: center;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		&:hover{
			color: var(--yellow);
			filter: brightness(1.1);
		}
	}

}

.outro{
	@include mixins.default-grid;
	position: relative;
	background: rgb(65, 71, 81);
	overflow: hidden;

	&__link{
		@include mixins.default-grid;
		padding: 4rem 1rem 0;
		color: white;
		place-self: center center;
		grid-template-rows: max-content;
	}

	&__logo{
		grid-row: 1/3;
		grid-column: 1/2;
		@include mixins.default-img;
		width: 5rem;
		margin-right: 15rem;
	}

	&__heading{
		grid-row: 1/2;
		grid-column: 1/2;
		font-family: var(--heading-font);
		font-size: 1.15rem;
		text-transform: uppercase;
		letter-spacing: -0.05rem;
		line-height: 1.1;
		margin: 0 0 0 6rem;

	}

	&__subheading{
		grid-row: 2/3;
		grid-column: 1/2;
		font-size: 0.9rem;
		font-weight: bold;
		margin: 0.15rem 0 auto 6.1rem;
	}

	&__emory{
		@include mixins.outro-text;
		font-size: 1rem;
		font-weight: bold;
		position: relative;
		margin-top: 5rem;

		&:before{
			content: "";
			width: 100%;
			left: 50%;
			top: -2rem;
			position: absolute;
			border-bottom: 1px solid white;
			transform: translateX(-50%);
		}
	}

	&__about{
		@include mixins.outro-text;
		@include mixins.outro-link;
		margin-top: 1rem;
	}

	&__emory-home{
		@include mixins.outro-text;
		@include mixins.outro-link;
	}

	&__campus-map{
		@include mixins.outro-text;
		@include mixins.outro-link;
	}

	&__get-directions{
		@include mixins.outro-text;
		@include mixins.outro-link;
	}

	&__address{
		@include mixins.outro-text;
		margin-top: 2.9rem;
	}

	&__email{
		@include mixins.outro-text;
		margin-top: 2.9rem;
	}

	&__city-state-zip{
		@include mixins.outro-text;
		margin-top: 0.75rem;
	}

	&__phone{
		@include mixins.outro-text;
		margin-top: 0.75rem;
	}

	&__email-link{
		color: white;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	&__bold-text{
		font-weight: bold;
	}

}

.social-media{
	display: flex;
	justify-content: center;
	margin: 2rem 0 4.25rem;

	&__icon{
		color: white;
		opacity: 0.8;
		font-size: 2rem;
		margin-right: 1.6rem;
		justify-self: center;

		&:hover{
			opacity: 1;
		}
	}
}

.fa-twitter{
	margin-right: 0;
}

.bottom-row{
	@include mixins.default-grid;
	width: 100%;
	position: relative;
	padding-bottom: 5rem;

	&__copyright{
		@include mixins.outro-text;
		font-size: 0.85rem;
		opacity: 0.7;
		line-height: 1.4;
	}

	&:before{
		content: "";
		position: absolute;
		width: 95%;
		top: -2rem;
		left: 50%;
		transform: translate(-50%);
		border-top: 1px solid white;
	}

	&__back-to-top{
		@include mixins.outro-text;
		@include mixins.outro-link;
		font-size: 0.85rem;
		opacity: 0.7;
		margin-top: 1.5rem;
	}
}

// ************* PEOPLE PAGE **********************

.people-page .overview{
	margin: 5rem 0;
}

.people{
	@include mixins.default-grid;
	@include mixins.generic-display-section;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		@include mixins.heading-format;
		@include mixins.section-heading-format;

		@include mixins.landscape{
			@include mixins.generic-landscape-heading;
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
		
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		@include mixins.generic-card-display;
		grid-template-columns: repeat(auto-fit, minmax(21.35rem, 0.4fr));

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.image-slot;
		padding-bottom: 100%;

		&:hover .people__text{
			height: 50%;
		}

		&:before{
			@include mixins.generic-dotted-line;
		}

		&:after{
			@include mixins.generic-blue-bar;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
	}

	&__text{
		@include mixins.generic-text;
	}

	&__subheading{
		@include mixins.generic-subheading;
	}

	&__caption{
		@include mixins.generic-caption;
	}
}


// ************* BIO PAGE **********************

.summary{
	@include mixins.default-grid;
	margin-bottom: 1.5rem;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,75rem) 1fr;
		padding: 2rem 5rem 0rem;
	}

	&__image{
		@include mixins.default-img;
		border-radius: 999rem;
		border: 3px solid var(--light-yellow);
		margin: 1.5rem 0 1.3rem; 
		justify-self: center;
		width: 10rem;
		height: 10rem;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: center flex-start;
			width: 16rem;
			height: 16rem;
		}


	}

	&__heading{
		@include mixins.heading-format;
		text-transform: unset;
		font-size: 2.3rem;
		color: var(--emory-blue);
		margin-bottom: 0.7rem;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: flex-start flex-start;
			margin: 2rem 0 0 19rem;
			font-size: 3rem;
			@include mixins.stretch-font;
		}
	}

	&__bold-text{
		font-weight: bold;
	}

	&__subheading{
		color: var(--gray);
		text-align: center;
		font-size: 1.4rem;
		line-height: 1.4;
		max-width: 20rem;
		justify-self: center;
		margin-bottom: 0.7rem;
		position: relative;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: flex-start flex-start;
			margin: 6rem 0 0 19rem;
			font-size: 1.5rem;
		}
	}

	&__contact{
		justify-self: center;
		border: 2px solid var(--emory-blue);
		border-radius: 0.7rem;
		padding: 0.5rem 2.5rem;
		color: var(--emory-blue);
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
		outline: none;
		background: unset;
		cursor: pointer;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: flex-start flex-start;
			margin: 9.5rem 0 0 19rem;
			width: 10.3rem;
		}

		&:hover{
			background: var(--emory-blue);
			color: white;
		}

		&:after{
			font-family: "Font Awesome 5 Free";
			content: "\f044";
			font-weight: 400;
			position: absolute;
			right: 0.65rem;
			top: 0.45rem;
			font-size: 1.05rem;
		}
	}
}

.contact{
	@include mixins.default-grid;
	position: absolute;
	background: white;
	padding: 2rem;
	top: 5.65rem;
	left: -9rem;
	z-index: 1;
	border: 2px solid var(--emory-blue);
	border-radius: 0.7rem;
	width: 31.25rem;
	text-align: left;
	

	@include mixins.medium-screen{
		left: 0;
		top: 6.25rem;
		width: 37.5rem;
	}

	&__compose-message{
		@include mixins.default-grid;
		grid-template-columns: repeat(2, minmax(0,1fr));
	}

	&__heading{
		font-weight: bold;
		margin-bottom: 1.5rem;
		text-align: left;

		&_success{
			margin: 0rem;
		}
	}
	
	&__label{
		color: var(--gray);
		font-size: 1.25rem;
		margin-bottom: 0.2rem;

		&_last-name{
			grid-column: 2/3;
			grid-row: 1/2;
			margin-left: 0.5rem;
		}
	}

	&__input{
		border-top: none;
		border-left: none;
		border-right: none;
		outline: none;
		border-bottom: 1px solid var(--emory-blue);
		margin-bottom: 1.5rem;
		padding: 0.6rem 0.6rem 0.6rem 0;
		font-size: 1.25rem;

		&_first-name{
			margin-right: 0.5rem;
		}

		&_last-name{
			margin-left: 0.5rem;
		}

		&_email{
			grid-column: 1/-1;
		}

		&_message{
			grid-column: 1/-1;
			padding: 0.6rem 0.6rem 0.6rem 0;
			font-size: 1.25rem;
			resize: none;
			height: 120px;

		}
	}

	&__send{
		grid-column: 1/-1;
		place-self: center center;
		background: var(--emory-blue);
		color: white;
		border: none;
		outline: none;
		border-radius: 999rem;
		padding: 0.75rem 4rem;
		font-size: 1.1rem;
		cursor: pointer;

		&:hover{
			filter: brightness(1.25);
		}
	}

	&__error{
		grid-column: 1/-1;
		text-align: center;
		color: red;
		font-size: 0.9rem;
		margin-top: 0.75rem;
	}
	
}

.biography{
	@include mixins.default-grid;
	position: relative;
	padding: 6rem 1.5rem 0;
	color: var(--gray);

	@include mixins.medium-screen{
		grid-template-columns: minmax(0,0.7fr) minmax(0,0.3fr);
		padding: 8rem 5rem 0;
	}

	&:before{
		content: "";
		position: absolute;
		border-bottom: dashed 3px var(--light-yellow);
		width: 100%;
		top: 0;
	}

	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 1.5rem;
		top: 1.15rem;
		background: var(--light-yellow);
	}

	&__heading{
		font-size: 1.75rem;
		@include mixins.stretch-font;
		margin-bottom: 0.75rem;
		grid-row: 5/6;

		@include mixins.medium-screen{
			grid-column: 1/2;
			grid-row: 1/2;
			font-size: 2.5rem;
		}
	}

	&__text{
		line-height: 1.5;
		margin-bottom: 2.75rem;
		font-size: 1.05rem;
		grid-row: 6/7;

		@include mixins.medium-screen{
			grid-column: 1/2;
			grid-row: 2/4;
			padding-right: 3rem;
		}
	}

	&__subheading{
		font-size: 1.35rem;
		font-weight: bold;
		margin-bottom: 0.75rem;
		@include mixins.stretch-font;
		

		@include mixins.medium-screen{
			font-size: 1.5rem;
		}

		&_education{
			font-weight: unset;
			font-size: 1.75rem;
			@include mixins.stretch-font;

			@include mixins.medium-screen{
				grid-column:1/2;
				grid-row: 4/5;
				font-size: 2.5rem;
			}
		}

		&_links{
			@include mixins.medium-screen{
				grid-column: 2/3;
				grid-row: 2/5;
				margin-top: 8.15rem;
			}
		}

		&_areas{
			@include mixins.medium-screen{
				grid-column: 2/3;
				grid-row: 1/2;
				align-self: flex-end;
			}
		}

		&_books{
			font-size: 1.75rem;
			font-weight: unset;

			@include mixins.medium-screen{
				font-size: 2.5rem;
				grid-column: 1/2;
			}
		}
	}

	&__area-list, &__links-list, &__education-list{
		margin-bottom: 2.75rem;
	}

	&__area-list{
		@include mixins.medium-screen{
			grid-column: 2/3;
			grid-row: 2/5;
			margin-bottom: unset;
		}
	}


	&__links-list{
		@include mixins.medium-screen{
			grid-column: 2/3;
			grid-row: 2/5;
			margin-top: 10rem;
			margin-bottom: unset;
			z-index: 0;
		}
	}

	&__education-list{
		@include mixins.medium-screen{
			grid-column:1/2;
			grid-row: 4/5;
			margin-top: 3rem;
		}
	}

	&__area, &__links-item, &__degree{
		margin-bottom: 0.5rem;
	}

	&__link{
		color: var(--emory-blue);

		&:hover{
			text-decoration: underline;
		}
	}

	&__social-icon{
		margin-right: 0.5rem;
	}

	&__book-link{
		@include mixins.image-slot;
		padding-bottom: 150%;
	}

	&__book-image{
		@include mixins.default-img;
		@include mixins.cover-parent;
		
	}

	&__book-item{
		@include mixins.default-grid;
	}

	&__book-list{
		@include mixins.default-grid;
		grid-template-columns: repeat(auto-fit, minmax(10.5rem, 0.15fr));
		gap: 1rem;
		margin-bottom: 5rem;

		@include mixins.medium-screen{
			grid-column: 1/-1;
		}
	}

	

	
}


/* 3. Utility ================================ */

.hidden{
	display: none;
}

.invisible{
	visibility: hidden;
}

.transparent{
	opacity: 0;
}

.dimmer{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	left: 0;
	top: 0;
}

.send-to-rear{
	z-index: -99;
}

.bring-to-front{
	z-index: 99;
}