/* 
==============================================
CONTENT:	English Department
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Initialization
1. General
2. Partials
3. Utility

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 2. Partials =============================== */
@use 'header';
@use 'hero';
@use 'statistics';
@use 'overview';
@use 'programs';
@use 'news';
@use 'events';
@use 'footer';
@use 'people';
@use 'bio-summary';
@use 'bio-contact';
@use 'bio-content';



/* 1. General ================================ */

*, *::before, *::after {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Noto Sans', sans-serif;
}

.display-grid{
	@include mixins.default-grid;
	position: relative;
}


/* 3. Utility ================================ */

.hidden{
	display: none;
}

.invisible{
	visibility: hidden;
}

.transparent{
	opacity: 0;
}

.dimmer{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	left: 0;
	top: 0;
}

.send-to-rear{
	z-index: -99;
}

.bring-to-front{
	z-index: 99;
}