/* 
==============================================
CONTENT:	English Department
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Initialization
1. Appearance
2. Utility

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

:root {
	--heading-font: 'Spectral', serif;
	--emory-blue: rgb(1, 33, 105);
	--dark-blue: rgb(12, 35, 64);
	--filter-blue: rgba(1, 33, 105, 0.45);
	--gold: rgb(227, 164, 76);
	--yellow: rgb(242, 169, 0);
	--gray: rgb(65, 71, 81);
	--light-yellow: rgba(242, 169, 0, 0.7);
}

/* 1. Appearance ============================= */

*, *::before, *::after {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Noto Sans', sans-serif;
}

.display-grid{
	@include mixins.default-grid;
	position: relative;
}

.intro{
	@include mixins.default-grid;
	grid-template-columns: minmax(3.1rem, 0.1fr) minmax(0, 1fr) minmax(3.1rem, 0.1fr) minmax(3.1rem, 0.1fr);
	

	@include mixins.landscape{
		grid-template-columns: 7.8rem minmax(0, 1fr);
		grid-template-rows: max-content;
	}

	&__link{
		grid-row: 1/3;
		background: var(--emory-blue);
		@include mixins.default-grid;

		@include mixins.landscape{
			padding: 1.5rem 0;
			grid-row: 1/4;
		}
	}

	&__logo{
		@include mixins.default-img;
		width: 1.85rem;
		margin: auto;

		@include mixins.landscape{
			width: 4.55rem;
		}
	}

	&__heading{
		font-family: var(--heading-font);
		font-size: 1.15rem;
		text-transform: uppercase;
		letter-spacing: -0.05rem;
		margin-top: auto;
		padding: 0.5rem 1rem 0 1rem;
		line-height: 1.1;

		@include mixins.landscape{
			margin-top: 0.5rem;
		}
	}

	&__subheading{
		grid-column: 2/3;
		margin-bottom: auto;
		padding: 0.15rem 1rem 0.5rem 1rem;
		font-size: 0.9rem;
		font-weight: bold;

		@include mixins.landscape{
			@include mixins.stretch-font;
			font-size: 1.5rem;
			font-weight: bold;
			padding-top: 0.4rem;
		}
	}
}

.toggle{
	grid-column: 4/5;
	grid-row: 1/3;
	display: flex;
	flex-direction: column;
	width: 2rem;
	height: 1.8rem;
	cursor: pointer;
	position: relative;
	z-index: 4;
	justify-content: space-between;
	margin: auto 0.35rem;

	@include mixins.landscape{
		display: none;
	}

	&__checkbox{
		grid-column: 4/5;
		grid-row: 1/3;
		position: absolute;
		right: 1.2rem;
		transform: scale(2);
		top: 1rem;
		opacity:0;

		@include mixins.landscape{
			display: none;
		}
	}

	&__line{
		width: 100%;
		height: 0.25rem;
		background: var(--dark-blue);
		transition: transform 200ms ease-in-out, color 200ms ease-in-out, visibility 50ms ease-in-out;


		&_open-1{
			@include mixins.open-line;
			transform: rotate(45deg);
		}

		&_open-2{
			@include mixins.open-line;
			transform: rotate(-45deg);
		}

		&_open-3{
			position: absolute;
			visibility: hidden;
		}
	}

	
	
}

.search{
	grid-column: 3/4;
	grid-row: 1/3;
	cursor: pointer;
	background: none;
	border: none;
	@include mixins.default-grid;

	&__icon{
		width: 2rem;
		height: 2rem;
		margin: auto;

		@include mixins.landscape{
			&:hover{
				filter: invert(58%) sepia(86%) saturate(1539%) hue-rotate(9deg) brightness(106%) contrast(102%);
			}
		}
	}

	@include mixins.landscape{
		grid-row:3/4;
		background: #f2f2f0;
		padding: 0 1.5vw 0 0;
	}
}

.menu{
	position: absolute;
	visibility: hidden;
	width: 0rem;
	opacity: 0;
	right: 0;
	top: 0;
	height: 100vh;
	@include mixins.default-grid;
	padding: 4rem 0 0 3.7rem;
	transition: width 200ms ease-in-out;
	z-index: 3;
	overflow-x:hidden;

	@include mixins.landscape{
		@include mixins.default-grid;
		grid-column:2/3;
		background: #f2f2f0;
		position: unset;
		width: unset;
		opacity: unset;
		right: unset;
		top: unset;
		height: unset;
		padding: unset;
		transition: unset;
		visibility: unset;
	}

	&__list{

		@include mixins.landscape{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1.25rem;
			max-width: 40rem;
		}
	}

	&__link{
		text-transform: uppercase;
		color: black;
		@include mixins.stretch-font;
		font-weight: bold;

		&:hover{
			color: var(--yellow);
		}
	}

	&_open{
		background: white;
		width: 20.6rem;
		opacity: 1;
		visibility: unset;
	}

	&__item{

		&_open{
			margin-top: 3rem;
			text-align: left;
		}

	}
}


.hero{
	@include mixins.default-grid;
	height: 45rem;
	overflow:hidden;
	position: relative;
	

	@include mixins.medium-screen{
		margin-bottom: 22rem;
	}

	&__slide{
		@include mixins.image-slot;
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-grid;
		align-content: center;
		padding: 1.5%;
		width: 100%;
		height: 45rem;
		
		&_wheatley{
			background: url(../../dist/img/hero_wheatley.jpg), var(--filter-blue);
			@include mixins.default-background;
			background-blend-mode: hard-light;
			background-position: left;
		}

		&_teacher{
			background: url(../../dist/img/hero_teacher.jpg), rgba(0,0,0,0.25);
			@include mixins.default-background;
			background-blend-mode: darken;
			background-position: center;
			height: 45rem;
		}

		&_class{
			background: url(../../dist/img/hero_class.jpg), var(--filter-blue);
			@include mixins.default-background;
			background-blend-mode: hard-light;
			background-position: left;
		}
	}

	&__heading{
		color: white;
		text-transform: uppercase;
		font-size: 2.5rem;
		transform: scale(1, 1.1);
		font-weight: bold;
		line-height: 1.1;
		max-width: 38rem;

		@include mixins.medium-screen{
			font-size: 3.25rem;
		}
	}

	&__line{
		background: var(--gold);
		width: 12.5rem;
		height: 0.375rem;
		margin: 1rem 0 2.5rem;
	}

	&__link{
		background-color: rgba(255, 255, 255, 0.25);
		color: white;
		border: 1px solid white;
		border-radius: 0.5rem;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0.7em;
		width: 10rem;
		text-align: center;
		transition: background-color 250ms ease-in-out;

		&:hover{
			background-color: rgba(255, 255, 255, 0);
		}
	}
}

.slide-controls{
	display: flex;
	justify-content: space-between;
	color: white;
	z-index: 2;
	margin-bottom: 1rem;
	position: absolute;
	right: 0;
	bottom: 0;

	&__previous{
		cursor: pointer;
		margin-right: 1rem;

		&:hover{
			color: var(--yellow);
		}
	}

	&__pause{
		cursor: pointer;
		margin-right: 1rem;

		&:hover{
			color: var(--yellow);
		}
	}

	&__next{
		cursor: pointer;
		margin-right: 1rem;

		&:hover{
			color: var(--yellow);
		}
	}
}

.statistics{
	@include mixins.default-grid;
	margin-bottom: 6rem;

	@include mixins.landscape{
		grid-template-columns: repeat(3, minmax(0, 1fr));
		padding: 0 3%;

		&__creative-writing{
			grid-row: 1/2;
			grid-column: 1/2;
		}

		&__phd{
			grid-row: 1/2;
			grid-column: 2/3;
		}

		&__undergrad-major{
			grid-row: 1/2;
			grid-column: 3/4;
		}
	}

	@include mixins.medium-screen{
		position: absolute;
		top: 43rem;
		width: 85%;
		max-width: 80rem;
		left: 50%;
		transform: translateX(-50%);
	}

	&__creative-writing, &__phd, &__undergrad-major{
		position: relative;
		@include mixins.default-grid;
		grid-template-rows: minmax(16rem, 42vw) auto auto;

		@include mixins.landscape{
			grid-template-rows: 15.9rem auto auto;
		}
	}

	&__outer-circle{
		position: absolute;
		left: 50%;
		top: 8%;
		transform: translateX(-50%);
		border-radius: 999rem;
		width: 36vw;
		height: 36vw;
		min-width: 13rem;
		min-height: 13rem;
		@include mixins.default-grid;

		&_yellow{
			border: 0.4rem solid rgba(242, 169, 0, 0.5);

			@include mixins.medium-screen{
				border: 0.4rem solid rgba(242, 169, 0, 1);
			}
		}

		&_blue{
			border: 0.4rem solid rgba(65, 182, 230, 0.5);

			@include mixins.medium-screen{
				border: 0.4rem solid rgba(65, 182, 230, 1);
			}
		}

		@include mixins.landscape{
			width: 13rem;
			height: 13rem;
		}
	}

	&__inner-circle{
		width: 31vw;
		height: 31vw;
		min-width: 11rem;
		min-height: 11rem;
		background: var(--emory-blue);
		@include mixins.default-grid;
		border-radius: 999rem;
		place-self: center center;

		@include mixins.landscape{
			width: 11rem;
			height: 11rem;
		}
	}

	&__animated-number{
		color: white;
		place-self: center center;
		font-size: 3.5rem;

		@include mixins.landscape{
			font-size: 3rem;
		}
	}

	&__heading{
		grid-row: 2/3;
		font-size: 1.75rem;
		margin: 0.75rem 2rem;
		@include mixins.heading-format;
		color: rgb(1, 33, 105);
		transform: scale(1, 1.1);

		@include mixins.landscape{
			place-self: center center;
			margin-bottom: 1rem;
		}
	}

	&__bold-text{
		font-weight: bold;
	}

	&__source{
		grid-row: 3/4;
		text-align: center;
		color: rgba(0,0,0, 0.8);
		letter-spacing: -0.01rem;
		margin-bottom: 0.75rem;

		@include mixins.landscape{
			place-self: flex-end center;
		}
	}

}

.overview{
	@include mixins.default-grid;
	padding: 0 2rem;
	margin-bottom: 5rem;
	max-width: 80rem;
	justify-self: center;

	&__heading{
		@include mixins.heading-format;
		color: rgb(1, 33, 105);
		font-size: 2.25rem;
		margin-bottom: 1.5rem;
	}

	&__bold-text{
		@include mixins.default-bold-text;
	}

	&__text{
		color: rgba(0,0,0, 0.8);
		line-height: 1.5;
		font-size: 1.15rem;
		text-align: center;
		margin-bottom: 1.25rem;

		@include mixins.medium-screen{
			font-size: 1.35rem;
		}
	}

	&__link{
		color: var(--emory-blue);
		font-weight: bold;
	}
}

.programs{
	@include mixins.default-grid;
	@include mixins.generic-display-section;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		@include mixins.heading-format;
		@include mixins.section-heading-format;

		@include mixins.landscape{
			@include mixins.generic-landscape-heading;
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
		
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		@include mixins.generic-card-display;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.image-slot;
		padding-bottom: 100%;

		&:hover .programs__text{
			height: 50%;
		}

		&:before{
			@include mixins.generic-dotted-line;
		}

		&:after{
			@include mixins.generic-blue-bar;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		
		&_cw{
			object-position: left;
		}
	}

	&__text{
		@include mixins.generic-text;
	}

	&__subheading{
		@include mixins.generic-subheading;
	}

	&__caption{
		@include mixins.generic-caption;
	}
}

.news{
	@include mixins.default-grid;
	margin-bottom: 5rem;
	overflow: hidden;
	padding: 1.4rem 0 2.85rem;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		@include mixins.section-heading-format;
		@include mixins.heading-format;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		@include mixins.landscape{
			font-size: 2.75rem;
			text-align: left;
			padding-left: 5rem;
		}
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		padding: 2rem 3%;
		gap: 2rem;
		justify-content: center;
    	grid-template-columns: repeat(auto-fit, minmax(17rem, 0.7fr));

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		border: 1px solid var(--emory-blue);
		@include mixins.default-grid;
		padding: 4rem 1.5rem 1.5rem;
		min-height: 20rem;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2.75rem;
			background: var(--emory-blue);
		}
	}

	&__image-slot{
		@include mixins.image-slot;
		padding-bottom: 60%;
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		border-radius: 0.7rem;
	}

	&__date{
		color: var(--gray);
		font-size: 1.15rem;
		font-family: var(--heading-font);
		margin: 1rem 0 0.7rem;
	}

	&__link{
		@include mixins.link-format;
	}

	&__button{
		justify-self: center;
		background: var(--emory-blue);
		color: white;
		text-transform: uppercase;
		padding: 1rem 0rem;
		width: 19.1rem;
		text-align: center;
		border-radius: 0.8rem;
		font-weight: bold;
		transition: all 200ms ease-in-out;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		&:hover{
			color: var(--yellow);
			filter: brightness(1.1);
		}
	}
}

.events{
	@include mixins.default-grid;
	position: relative;
	
	margin: 0 3% 5rem;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,75rem) 1fr;
	}

	&__heading{
		@include mixins.heading-format;
		width: 10.5rem;
		justify-self: center;
		position: absolute;
		font-size: 1.85rem;
		transform: scale(1, 1.1);
		margin-bottom: 1rem;
		color: var(--emory-blue);
		top: -1rem;
		background: white;

		@include mixins.landscape{
			font-size: 2.75rem;
			width: 25rem;
			top: -1.5rem;
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		padding: 5rem 3%;
		grid-column-gap: 3%;
		grid-row-gap: 2.3rem;
		justify-content: center;
    	grid-template-columns: repeat(auto-fit, minmax(15rem, 0.9fr));
		border: 3px solid var(--emory-blue);

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.default-grid;
		padding: 2.75rem 0rem 0rem;
		position: relative;
		grid-template-columns: 1fr minmax(5rem, 0.2fr);
		grid-auto-rows: max-content;
		

		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1.25rem;
			background: var(--light-yellow);
		}
	}

	&__day{
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0.75rem;
		
	}

	&__month{
		color: var(--emory-blue);
		font-size: 1.75rem;
		font-weight: bold;
		grid-column: 1/2;
		font-family: var(--heading-font);
		padding-bottom: 0.1rem;

	}

	&__date{
		grid-column: 2/3;
		grid-row: 1/3;
		place-self: center flex-end;
		color: var(--gray);
		font-family: var(--heading-font);
		font-size: 3rem;
	}

	&__link{
		margin-top: 1.5rem;
		grid-column: 1/-1;
		@include mixins.link-format;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			border-top: dashed 3px var(--light-yellow);
			width: 100%;
			top: -1rem;
		}
	}

	&__button{
		background: var(--emory-blue);
		color: white;
		text-transform: uppercase;
		padding: 1rem 0rem;
		border-radius: 0.8rem;
		font-weight: bold;
		transition: all 200ms ease-in-out;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -1.5rem;
		width: 19.1rem;
		text-align: center;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}

		&:hover{
			color: var(--yellow);
			filter: brightness(1.1);
		}
	}

}

.outro{
	@include mixins.default-grid;
	position: relative;
	background: rgb(65, 71, 81);
	overflow: hidden;

	&__link{
		@include mixins.default-grid;
		padding: 4rem 1rem 0;
		color: white;
		place-self: center center;
		grid-template-rows: max-content;
	}

	&__logo{
		grid-row: 1/3;
		grid-column: 1/2;
		@include mixins.default-img;
		width: 5rem;
		margin-right: 15rem;
	}

	&__heading{
		grid-row: 1/2;
		grid-column: 1/2;
		font-family: var(--heading-font);
		font-size: 1.15rem;
		text-transform: uppercase;
		letter-spacing: -0.05rem;
		line-height: 1.1;
		margin: 0 0 0 6rem;

	}

	&__subheading{
		grid-row: 2/3;
		grid-column: 1/2;
		font-size: 0.9rem;
		font-weight: bold;
		margin: 0.15rem 0 auto 6.1rem;
	}

	&__emory{
		@include mixins.outro-text;
		font-size: 1rem;
		font-weight: bold;
		position: relative;
		margin-top: 5rem;

		&:before{
			content: "";
			width: 100%;
			left: 50%;
			top: -2rem;
			position: absolute;
			border-bottom: 1px solid white;
			transform: translateX(-50%);
		}
	}

	&__about{
		@include mixins.outro-text;
		@include mixins.outro-link;
		margin-top: 1rem;
	}

	&__emory-home{
		@include mixins.outro-text;
		@include mixins.outro-link;
	}

	&__campus-map{
		@include mixins.outro-text;
		@include mixins.outro-link;
	}

	&__get-directions{
		@include mixins.outro-text;
		@include mixins.outro-link;
	}

	&__address{
		@include mixins.outro-text;
		margin-top: 2.9rem;
	}

	&__email{
		@include mixins.outro-text;
		margin-top: 2.9rem;
	}

	&__city-state-zip{
		@include mixins.outro-text;
		margin-top: 0.75rem;
	}

	&__phone{
		@include mixins.outro-text;
		margin-top: 0.75rem;
	}

	&__email-link{
		color: white;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	&__bold-text{
		font-weight: bold;
	}

}

.social-media{
	display: flex;
	justify-content: center;
	margin: 2rem 0 4.25rem;

	&__icon{
		color: white;
		opacity: 0.8;
		font-size: 2rem;
		margin-right: 1.6rem;
		justify-self: center;

		&:hover{
			opacity: 1;
		}
	}
}

.fa-twitter{
	margin-right: 0;
}

.bottom-row{
	@include mixins.default-grid;
	width: 100%;
	position: relative;
	padding-bottom: 5rem;

	&__copyright{
		@include mixins.outro-text;
		font-size: 0.85rem;
		opacity: 0.7;
		line-height: 1.4;
	}

	&:before{
		content: "";
		position: absolute;
		width: 95%;
		top: -2rem;
		left: 50%;
		transform: translate(-50%);
		border-top: 4px solid var(--gold);
	}

	&__back-to-top{
		@include mixins.outro-text;
		@include mixins.outro-link;
		font-size: 0.85rem;
		opacity: 0.7;
		margin-top: 1.5rem;
	}
}

// ************* PEOPLE PAGE **********************

.people-page .overview{
	margin: 5rem 0;
}

.people{
	@include mixins.default-grid;
	@include mixins.generic-display-section;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		@include mixins.heading-format;
		@include mixins.section-heading-format;

		@include mixins.landscape{
			@include mixins.generic-landscape-heading;
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
		
	}

	&__bold-text{
		@include mixins.default-bold-text;

		@include mixins.landscape{
			display: unset;
		}
	}

	&__card-display{
		@include mixins.default-grid;
		@include mixins.generic-card-display;
		grid-template-columns: repeat(auto-fit, minmax(21.35rem, 0.4fr));

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.image-slot;
		padding-bottom: 100%;

		&:hover .people__text{
			height: 50%;
		}

		&:before{
			@include mixins.generic-dotted-line;
		}

		&:after{
			@include mixins.generic-blue-bar;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
	}

	&__text{
		@include mixins.generic-text;
	}

	&__subheading{
		@include mixins.generic-subheading;
	}

	&__caption{
		@include mixins.generic-caption;
	}
}


// ************* BIO PAGE **********************

.summary{
	@include mixins.default-grid;
	margin-bottom: 1.5rem;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,75rem) 1fr;
		padding: 2rem 5rem 0rem;
	}

	&__image{
		@include mixins.default-img;
		border-radius: 999rem;
		border: 3px solid var(--light-yellow);
		margin: 1.5rem 0 1.3rem; 
		justify-self: center;
		width: 10rem;
		height: 10rem;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: center flex-start;
			width: 16rem;
			height: 16rem;
		}


	}

	&__heading{
		@include mixins.heading-format;
		text-transform: unset;
		font-size: 2.3rem;
		color: var(--emory-blue);
		margin-bottom: 0.7rem;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: flex-start flex-start;
			margin: 2rem 0 0 19rem;
			font-size: 3rem;
			@include mixins.stretch-font;
		}
	}

	&__bold-text{
		font-weight: bold;
	}

	&__subheading{
		color: var(--gray);
		text-align: center;
		font-size: 1.4rem;
		line-height: 1.4;
		max-width: 20rem;
		justify-self: center;
		margin-bottom: 0.7rem;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: flex-start flex-start;
			margin: 6rem 0 0 19rem;
			font-size: 1.5rem;
		}
	}

	&__contact{
		justify-self: center;
		border: 2px solid var(--emory-blue);
		border-radius: 0.7rem;
		padding: 0.5rem 2.5rem;
		color: var(--emory-blue);
		text-transform: uppercase;
		font-weight: bold;
		position: relative;

		@include mixins.medium-screen{
			grid-row: 1/2;
			grid-column: 2/3;
			place-self: flex-start flex-start;
			margin: 9.5rem 0 0 19rem;
			width: 10.3rem;
		}

		&:hover{
			background: var(--emory-blue);
			color: white;
		}

		&:after{
			font-family: "Font Awesome 5 Free";
			content: "\f044";
			font-weight: 400;
			position: absolute;
			right: 0.65rem;
			top: 0.45rem;
			font-size: 1.05rem;
		}
	}
}

.biography{
	@include mixins.default-grid;
	position: relative;
	padding: 6rem 1.5rem 0;
	color: var(--gray);

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,75rem) 1fr;
		padding: 8rem 5rem 0;
	}

	&:before{
		content: "";
		position: absolute;
		border-bottom: dashed 3px var(--light-yellow);
		width: 100%;
		top: 0;
	}

	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 1.5rem;
		top: 1.15rem;
		background: var(--light-yellow);
	}

	&__heading{
		font-size: 1.75rem;
		@include mixins.stretch-font;
		margin-bottom: 1rem;

		@include mixins.medium-screen{
			grid-column: 2/3;
			font-size: 2.5rem;
		}
	}

	&__text{
		line-height: 1.5;
		margin-bottom: 5rem;
		font-size: 1.05rem;

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}
}


/* 2. Utility ================================ */

.hidden{
	display: none;
}

.invisible{
	visibility: hidden;
}

.transparent{
	opacity: 0;
}

.dimmer{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	left: 0;
	top: 0;
}

.send-to-rear{
	z-index: -99;
}

.bring-to-front{
	z-index: 99;
}